
<div class="container-sidebar">
  <div class="sidebar m-1 p-5 bg-light border rounded-3">
    <% @features.each do |f| %>
      <p><%= f %></p>
    <% end %>
  </div>

  <div class="content">
    <% @category.products.each do |p| %>
      <div class="m-1 p-5 bg-light border rounded-3">
        <h3><%= link_to p.title.capitalize, category_path(p) %></h3>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
      </div>

  <% end %>
  </div>

</div>
