/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$green: rgb(52, 235, 122);
$blue: rgb(52, 110, 235);
$white: rgba(218, 236, 242, 0.3);
$box-shadow: 12px 12px 2px 1px rgba(52, 110, 235, .2);

main {
  max-width: 1200px;
  min-width: 1200px;
}

.button {
  background-image: none !important;
  border: none !important;
  font-family: inherit !important;
  color: snow !important;
  text-shadow: none !important;
  background-color: $green !important;
  border-radius: 10px !important;
  line-height: 14px !important;
}

.button:hover{
  cursor: pointer !important;
}

@media (max-width: 1200px){
  main {
    max-width: 800px;
    min-width: 800px;
  }
}

@media (max-width: 600px){
  main {
    max-width: 500px;
    min-width: 500px;
  }
}

.bg-blue{
  background-color: $blue;
}

.bg-green{
  background-color: $green;
}

.alert-msg, .notice {
  position: absolute;
  z-index: 3;
  right: 25px;
  top: 50px;
  border-radius: 5px;
  padding: 8px;
}

.alert-msg {
  background-color: #d5de59;
}

.notice {
  background-color: greenyellow;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navigation-line {
  display: inline-flex;
  justify-content: space-between;
  min-width: inherit;
  background-color: $white;
  box-shadow: $box-shadow;
  margin: 20px 0;
  padding: 12px 20px;
}

header {
  display: inline-flex;
  width: 100%;
  box-shadow: $box-shadow;

  logo {
    padding: 0 50px 0 20px;
  }

  nav {
    padding: 10px 30px;
    width: inherit;
    display: inline-flex;
    justify-content: space-between;

    a{
      color: snow !important;
    }
  }
}