$white: rgba(218, 236, 242, 0.3);
$box-shadow: 12px 12px 2px 1px rgba(52, 110, 235, .2);

.cart-info {
  margin: 20px 0;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  box-shadow: $box-shadow;
}

.cart-show{
  display: inline-flex;
  background-color: $white;
  box-shadow: $box-shadow;
  padding: 12px 20px;

  .payment {
    display: flex;
    flex-direction: column;
    height: 30px;
    margin: 20px 0;

  }

  .image{
    margin-right: 10px;
  }

  .info{
    margin-right: 10px;
  }
}