$white: rgba(218, 236, 242, 0.3);
$box-shadow: 12px 12px 2px 1px rgba(52, 110, 235, .2);

.product-show{
  background-color: $white;
  box-shadow: $box-shadow;
  padding: 12px 20px;

  .payment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 20px 0;
  }
}