<nav class="navigation-line">
  <%= link_to "Back", category_path(@category) %>
</nav>

<div class="product-show">
  <h2>Edit Category</h2>
  <%= render 'categories/form', category: @category %>
</div>
