<div class="bg-light border rounded-3 px-3 mw-50 d-flex align-items-center flex-column ">
  <h2>Edit Category</h2>
  <%= render 'categories/form', category: @category %>
  <% @category.products.each do |product| %>
    <% unless product.nil? %>
      <%= render 'products/form', category: product.category, product: product %>
    <% end %>
  <% end %>
</div>
