<nav class="navigation-line">
  <%= link_to "New Category", new_category_path %>
</nav>

<div class="categories-container">
  <% @categories.each do |c| %>
    <div class="category">
      <h3><%= link_to c.title.capitalize, category_path(c) %></h3>
      <p class="lead"><%= c.description %></p>
    </div>
  <% end %>
</div>
