<%= link_to "Back", category_product_path(@product.category, @product) %>
<div class="bg-light border rounded-3 px-3 mw-50 d-flex align-items-center flex-column ">
  <h2>Edit product</h2>
  <%= render 'products/form', category: @product.category ,product: @product %>
</div>
