<nav class="navigation-line">
  <%= link_to "Back", category_product_path(@product.category, @product) %>
</nav>

<div class="product-show">
  <h2>Edit product</h2>
  <%= render 'products/form', category: @product.category ,product: @product %>
</div>
