<nav class="navigation-line">
  <%= link_to "Back", category_path(@product.category) %>
</nav>

<div class="product-show">
  <h2>New product</h2>
  <%= render 'products/form', category: @product.category ,product: @product %>
</div>
